* {
    text-decoration: none;
    list-style: none;

}

.pink {
    color: rgb(255, 0, 183);
}

.container {
    padding-left: 300px;
    display: flex;
    gap: 35px;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    padding-right: 300px;

}

.btn {
    background-color: rgb(251, 10, 214);
    color: white;
    width: 150px;
    height: 40px;
    border: 1px;
    border-radius: 9px;
}

.parent {
    background-color: rgba(255, 214, 244, 0.83);
    width: 1240px;
    height: 700px;
    display: flex;
margin: 0 auto;

}

.img {
    display: flex;
}

.btnn {
    background-color: rgb(254, 7, 217);
    color: white;
    width: 200px;
    height: 50px;
    border: 1px;
    border-radius: 9px;
}

.list {
    display: flex;
    margin-top: 100px;
    margin-left: 200px;
}

.ull {
    margin-top: 200px;
    margin-left: 200px;
}

.img {
    width: 500px;
    height: 500px;
    margin-top: 150px;

}


*{
    list-style: none;
}

.list{
    display: flex;

}